@font-face {
  font-family: "ZhCnFont";
  src: url("/zh-cn.ttf") format("truetype");
}

:root {
  --light: #92a47d;
}

* {
  margin: 0;
  padding: 0;
  font-family: "ZhCnFont", sans-serif;
  transition: color 0.2s;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  user-select: none;
  position: relative;
}

.fade1 {
  animation: fade1 0.3s forwards;
}
@keyframes fade1 {
  0% {
    color: var(--iconAccent);
  }
  50% {
    /* margin-right: 2rem; */
    font-size: 2rem;
    opacity: 0%;
    color: var(--iconAccent);
  }
  90% {
    color: var(--iconAccent);
  }
  100% {
    opacity: 100%;
  }
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  background: linear-gradient(#0c0f0a 40%, transparent 500%);
  overflow: hidden;

  #emblem {
    position: absolute;
    top: 60%;
    right: 0;
    opacity: 20%;
    width: 30%;
    transition: 0.2s all;
  }

  #profile {
    object-fit: contain;
    transition: 0.2s all;
    z-index: 0;
  }

  .stripes {
    display: flex;
    height: 100%;
    gap: 0.5rem;
    position: absolute;
    left: 23rem;
    position: absolute;

    .stripe {
      --1up: 9.5%;
      --1down: 17%;

      height: 100%;
      width: 8px;
      background: url(line.png);
      background-position: center;
      background-size: contain;
      clip-path: polygon(
        0 0,
        100% 0,

        100% var(--1up),
        0% var(--1up),
        0% var(--1down),
        100% var(--1down),
        100% 40%,
        0% 40%,
        0% 60%,
        100% 60%,

        100% 100%,
        0 100%
      );
    }
  }
}

.app {
  flex: 1;
  padding: 8rem 9rem;
  display: flex;
  color: white;
  gap: 1.5rem;
  background: var(--light);
  transition: 0.2s all;

  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;

    #elementSelectors {
      position: absolute;
      display: flex;
      font-size: 2rem;
      gap: 2.75rem;

      img {
        width: 2rem;
        transition: all 0.5s;
      }
    }
    #gnosisHead {
      text-align: end;
      font-size: 1.5rem;
      margin-top: 0.4rem;
      color: var(--light);
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
    }
    #gnosisName {
      text-align: end;
      font-size: 2.3rem;
      font-weight: bolder;
      margin-top: 0.3rem;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
    }
    #constellationHead {
      text-align: end;
      font-size: 1.5rem;
      margin-top: 3.4rem;
      color: var(--light);
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
    }
    #constellationName {
      text-align: end;
      font-size: 2.3rem;
      font-weight: bolder;
      margin-top: 0.3rem;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
      text-transform: capitalize;
    }
    #characterName {
      font-size: 7rem;
      flex: 1;
      display: flex;
      align-items: center;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
    }
    .underNameSpace {
      height: 13rem;
    }
    .logo {
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;

      #portrait {
        align-self: flex-end;
        width: 10rem;
        object-fit: contain;
        filter: saturate(0%) brightness(1000%);
        transition: 0.2s all;
      }
      .genshin {
        text-align: end;
        font-size: 2rem;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
          1px 1px 0 #000;
      }
      .impact {
        text-align: end;
        font-size: 2rem;
        color: var(--light);
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
          1px 1px 0 #000;
      }
    }
  }

  .characterSelector {
    height: 100%;

    .range-slider {
      position: relative;
      width: 10px;
      height: 100%;
      background: transparent;
    }

    .range-track {
      --topRight: 42%;
      --bottomRight: 57%;

      position: absolute;
      width: 100%;
      height: 100%;
      background: url(line.png);
      background-position: center;
      background-size: contain;
      border-radius: 3px;
      left: 50%;
      transform: translateX(-50%);
      clip-path: polygon(
        0 0,
        100% 0,

        100% var(--topRight),
        0% var(--topRight),
        0% var(--bottomRight),
        100% var(--bottomRight),
        100% 100%,
        0 100%
      );
    }

    .range-thumb {
      position: absolute;
      height: 95px;
      width: 47px;
      background: var(--light);
      cursor: pointer;
      border-radius: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      mask-image: url("thumb.svg");
      transition: top 0.1s ease; /* Add transition for smooth movement */
    }
  }
}
