@font-face {
  font-family: "ZhCnFont";
  src: url("/zh-cn.ttf") format("truetype");
}

:root {
  --light: green;
}

* {
  margin: 0;
  padding: 0;
  font-family: "ZhCnFont", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.app {
  flex: 1;
  padding: 8rem 9rem;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  position: relative;

  #elementSelectors {
    position: absolute;
    display: flex;
    background: #000;
    gap: 3.4rem;
    padding: 2.1rem;
    color: white;
    top: 6.3rem;
  }

  #characterName {
    background: blue;
    font-size: 7rem;
    align-self: center;
  }

  .right {
    border: 1px solid black;
    display: flex;
    justify-content: end;
    flex: 1;

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .top,
      .bottom {
        display: flex;
        flex-direction: column;
        align-items: end;
      }
    }

    .characterSelector {
      #charSlider {
        writing-mode: vertical-lr;
        direction: rtl;
      }
    }
  }
}
